.reminderForm {

}

.reminderFormHeader {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
}

.day {
  flex: 4;
}

.reminderCloseBtn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.reminderCloseBtn svg {
  height: 14px;
  margin-top: 5px;
  fill: #aaa;
}

.fieldRow {
  display: flex;
}

.fieldLabel {
  flex: 1;
}

.fieldItem {
  flex: 4;
}

.reminderColorList {
  display: flex;
}

.reminderColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: 200ms;
}

.reminderColor:hover {
  border-color: #555;
}

.reminderColorSelected {
  composes: reminderColor;
  border-color: #555;
  cursor: default;
}

.reminderColorSelected:hover {
  border-color: #555;
  cursor: default;
}
