.popup {
  width: 450px;
  padding: 20px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -225px;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  opacity: 0;
  z-index: 999;
  animation: onShow 150ms ease-out forwards;
}

@keyframes onShow {
  0% {
    transform: translateY(-50%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
}
