.calendarWrapper {
  margin: 50px 0;
}

.calendar {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.calendar td {
  height: 100px;
  vertical-align: top;
}

.calendarMonthControls {
  display: flex;
  width: 100%;
}

.calendarMonthPrev,
.calendarMonthNext {
  flex: 1;
}

.calendarMonthNext {
  display: flex;
  justify-content: flex-end;
}

.iconLeft {
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -6px;
}

.iconRight {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -6px;
}

.iconLeft svg,
.iconRight svg {
  height: 12px;
  fill: tomato;
}
