.cellInactive {
  background: rgba(0,0,0,0.02);
}

.cellInactive * {
  display: none;
}

.day {
  color: #888;
  font-size: 16px;
  padding: 10px;
}

.dayActive {
  composes: day;
  color: tomato;
  display: inline-block;
  font-weight: 500;
  position: relative;
}

.dayActive:before {
  content: '';
  width: 24px;
  height: 24px;
  background: #fbe9e6;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  z-index: -1;
}

.reminderBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid #eee;
  transition: 200ms ease-out;
  opacity: 0;
}

.reminderIcon {
  display: block;
  width: 16px;
  margin: 4px auto;
}

.reminderIcon svg {
  fill: #555;
  width: 16px;
}

.cell:hover .reminderBtn {
  opacity: 1;
}

.reminderBtn:hover {
  border-color: tomato;
  cursor: pointer;
}

.reminderBtn:hover svg {
  fill: tomato;
}

.reminderWrapper > div {
  transition: 200ms;
}

.reminderWrapper:hover > div {
  opacity: 0.8;
}

.reminderWrapper:hover > div:hover {
  opacity: 1;
  cursor: pointer;
}
