.day {
  color: #888;
  font-size: 16px;
}

.dayActive {
  composes: day;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
}

.dayActive:before {
  content: '';
  width: 30px;
  height: 30px;
  background: tomato;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  z-index: -1;
}
