.reminder {
  display: flex;
  padding: 3px;
  background: #eee;
  color: #555;
  font-size: 14px;
}

.text {
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.startTime {
  flex: 1;
  color: #555;
}

.reminderYellow {
  background: #eaf236;
}

.reminderGreen {
  background: #36f252;
}

.reminderBlue {
  background: #2b82e5;
  color: #fff;
}

.reminderRed {
  background: #e52b2b;
  color: #fff;
}
