.reminder {
  display: flex;
  padding: 0 3px;
  color: #555;
  font-size: 12px;
  line-height: 1.8;
}

.text {
  flex: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.startTime {
  flex: 1;
  font-weight: bold;
}

.reminderYellow {
  background: #eaf236;
}

.reminderGreen {
  background: #36f252;
}

.reminderBlue {
  background: #2b82e5;
  color: #fff;
}

.reminderRed {
  background: #e52b2b;
  color: #fff;
}
