*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 12px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
  padding: 8px 0;
}

label {
  font-size: 14px;
}

td {
  padding: 0;
}

button {
  display: inline-block;
  background: none;
  color: tomato;
  border: 1px solid #eee;
  padding: 10px 30px;
  margin: 10px 0;
  transition: 200ms;
}

button:hover {
  border-color: tomato;
  cursor: pointer;
}

th, td {
  border: 1px solid #eee;
  position: relative;
  overflow: hidden;
}

th {
  padding: 5px;
  font-size: 14px;
}
