*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}